body {
    background: #e2e3e8;
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

.mt-10 {
    margin-top: 100px;
}

.rounded-8 {
    border-radius: 8px;
}

.text-blue {
    color: #0847b8;
}

input {
    font-weight: bold;
    letter-spacing: .05em;
    border: 0;
    border-bottom: 2px solid #bec2cb;
    outline: 0;
}

input:focus {
    border-bottom: 2px solid #095df3;
}

input:not(:placeholder-shown) {
    color: #03006b;
    border-bottom: 2px solid #03006b;
}

.btn-blue {
    color: white;
    background: #095df3;
}

.btn-blue:hover {
    background: #0847b8;
}